{% extends 'base.html.twig' %}

{% block body %}
    <main class="main-step step-invitation">
        <section class="content">
            <p>{{ "user.civility.#{app.user.civility}" | trans}} {{ app.user.firstName }} {{ app.user.lastName }}</p>
            <p>
                Nous avons bien enregistré que vous ne participerez pas à la<br>
                <strong>Convention - Le&nbsp;Conservateur&nbsp;2022</strong> le mardi 18 janvier.
            </p>
            <p>Bien à vous, l'équipe organisation</p>
        </section>
    </main>

{% endblock %}